@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body,
  html,
  #root {
    @apply w-full h-full overflow-hidden;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #13131f;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #7c6aff;
    border-radius: 6px;
    border: 2px solid #13131f;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6b59e6;
  }
}
